{{#if updateTipForm}}
<h4>Update {{tip.title}}</h4>
<form>
  <div class="form-group">
    {{input value=title id="title" placeholder=tip.title}}
  </div>
  <div class="form-group">
    {{input value=author id="author" placeholder=tip.author}}
  </div>
  <div class="form-group">
    {{input value=description id="description" placeholder=tip.description}}
  </div>
  <button {{action 'update' tip}}class="btn btn-primary btn-lg">Update</button>
</form>
{{else}}
<button {{action 'updateRentalForm'}}>Update</button>
{{/if}}
